.filters{
        background-color: white;
        border: solid 1px #DDDDDD;
        border-radius: 4px;
        height: 70px;
        width: 100%;
        align-items: center;
        text-align: right;
}

section.filters button{
        font-size: 18px;
        background-color: #FF5A5F;
        color: white;
        height: 48px;
        width: 20%;
        margin-right: 30px;
        margin-top: 11px;
        border: 0px;
        border-radius: 4px;
        opacity: 1;

}

section.filters button:hover{
        opacity: 0.9;
}

.locations{
	text-align: left;
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
	margin: 0px;
}

.amenities{
	text-align: left;
        height: 100%;
        width: 25%;
        float: left;
	margin-top: 0px;
}

h3{
	padding: 0px;
	font-weight: 600;
	margin: 0px;
	margin-top: 17px;
	padding-left: 30px;
}

h4{
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	margin: 0px;
	font-size: 14px;
	padding-left: 30px;
}

.popover{
	visibility: hidden;
	background-color:#FAFAFA;
	margin-top: 16px;
	border: solid #DDDDDD 1px;
	border-radius: 4px;
	position: relative;
	padding-bottom: 10%;
}

.popover li, h2{
	padding: 0px;
	margin: 0px;
}

.pop_list_1{
	padding: 0px;
	padding-left: 30px;
	padding-bottom: 15px;
}

.pop_list_2{
	padding: 0px;
	padding-left: 7%;
	padding-bottom: 10px;
}

ul{
	padding-top: 10px;
	padding-bottom: 10px;
}

li{
	padding-top: 10px;
	list-style: none;
	padding-bottom: 5%;
}

.locations:hover > .popover{
	visibility: visible;
	padding: 20px;
}

.amenities:hover > .popover{
	padding: 20px;
	visibility: visible;
}
