.places .art{
	display: flex;
	flex-wrap: wrap;
        justify-content: center;

}
.places h1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: top left;
	font-size: 30px;
	margin: 0px;
	margin-top: 30px;
	padding: 0px;
}
article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid #FF5A5F 1px;
	border-radius: 4px;
}
article h2{
	text-align: center;
	font-size: 30px;
}
.id{
	position: relative;
}
.price_per_night{
	color: #FF5A5F;
	border: solid #FF5A5F 4px;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	right: -5px;
	top: -10px;
}
.child_ppn{
	position: relative;
	align-items: center;
	text-align: center;
	top: 15px;
}
.information{
	height: 80px;
	border-top: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
	display: flex;
	flex-wrap: row;
	justify-content: center;
	margin-top: 30px;
}
.some_text{
	margin-top: 70px;
}
.max_guests{
	width: 100px;
	background:url('../images/icon_group.png') center no-repeat;
	text-align: center;
	margin-top: -15px;
}
.number_rooms{
	width: 100px;
	background: url('../images/icon_bed.png') center no-repeat;
	margin-top: -15px;
	text-align: center;
}
.number_bathrooms{
	width: 100px;
	background: url('../images/icon_bath.png') center no-repeat;
	text-align: center;
	margin-top: -15px;
}
.user{
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
}
.description{
	text-align: left;
	margin-bottom: 0px;
	margin-top: 7px;
}
